
<div class="container mt-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <% @articles.each do |article| %>
        <div class="card mt-2">
          <div class="card-body">
            <h2 class="title"><%= link_to article.title, article_path(article) %></h2>
            <p class="card-text"><%= article.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
